{% extends 'master.twig' %}


{% block main %}

    {% for record in records %}
        <h2><a href="{{ record|link }}">{{ record.title }}</a></h2>
        {{ record.content|excerpt }}
        {% include 'partials/_recordfooter.twig' with {'record' : record} %}
    {% endfor %}


    {{ pager(records, template = 'helpers/_pager_bootstrap.html.twig') }}


{% endblock main %}